<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta Médica en Línea - Diagnóstico Rápido y Preciso | Consulta de Síntomas en Línea</title>
    <meta name="description"
        content="Consulta médica en línea para obtener un diagnóstico rápido y preciso. Seleccione sus síntomas y reciba recomendaciones de tratamiento inmediatas. Obtenga el mejor diagnóstico médico en línea con recomendaciones confiables de salud.">
    <meta name="keywords"
        content="consulta médica en línea, diagnóstico médico, síntomas, tratamiento, salud, fiebre, dolor de cabeza, tos, dolor abdominal, consulta médica gratis, consulta de salud en línea, diagnóstico rápido, atención médica en línea, consulta de salud, telemedicina, dificultad para respirar, mareo, náuseas, escalofríos, sudoración, dolor muscular, fatiga, erupción cutánea, congestión nasal, fiebre alta, dolor de oídos, dolor en las articulaciones">
    <meta property="og:title" content="Consulta Médica en Línea - Diagnóstico Rápido y Preciso">
    <meta property="og:description"
        content="Consulta médica en línea para obtener un diagnóstico rápido y preciso. Seleccione sus síntomas y reciba recomendaciones de tratamiento inmediatas.">
    <meta property="og:url" content="https://consulta-medica.onrender.com">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Consulta Médica en Línea - Diagnóstico Rápido y Preciso">
    <meta name="twitter:description"
        content="Obtenga un diagnóstico médico en línea rápido y preciso seleccionando sus síntomas.">
    <link rel="canonical" href="https://consulta-medica.onrender.com">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <style>
        body {
            background-image: linear-gradient(to right, #6a11cb, #2575fc);
            font-family: 'Roboto', sans-serif;
            color: #ffffff;
        }

        .container {
            margin-top: 50px;
            max-width: 700px;
            background-color: #ffffff;
            padding: 30px;
            border-radius: 20px;
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
            animation: fadeInUp 1s;
            color: #333333;
        }

        .btn-primary {
            width: 100%;
            background: linear-gradient(to right, #6a11cb, #2575fc);
            border: none;
            font-weight: bold;
            transition: background 0.3s;
        }

        .btn-primary:hover {
            background: linear-gradient(to right, #2575fc, #6a11cb);
        }

        .form-check-input:checked {
            background-color: #2575fc;
            border-color: #6a11cb;
        }

        #resultado {
            background-color: #f1f1f1;
            padding: 20px;
            border-radius: 10px;
            color: #333;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
        }

        .form-check-label {
            margin-left: 10px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 class="text-center mb-4">Consulta Médica en Línea</h1>
        <h2 class="text-center mb-4">Diagnóstico Rápido y Preciso</h2>
        <p class="text-center">Seleccione sus síntomas para recibir un diagnóstico preliminar y recomendaciones de
            tratamiento inmediato.</p>
        <form id="consultaForm">
            <div class="form-group">
                <label for="sintomas">Seleccione sus síntomas:</label>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Fiebre" id="sintoma1">
                            <label class="form-check-label" for="sintoma1">Fiebre</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Escalofríos" id="sintoma2">
                            <label class="form-check-label" for="sintoma2">Escalofríos</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Dolor de cabeza" id="sintoma3">
                            <label class="form-check-label" for="sintoma3">Dolor de cabeza</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Dolor muscular" id="sintoma4">
                            <label class="form-check-label" for="sintoma4">Dolor muscular</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Fatiga" id="sintoma5">
                            <label class="form-check-label" for="sintoma5">Fatiga</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Tos" id="sintoma6">
                            <label class="form-check-label" for="sintoma6">Tos</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Congestión nasal" id="sintoma7">
                            <label class="form-check-label" for="sintoma7">Congestión nasal</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Estornudos" id="sintoma8">
                            <label class="form-check-label" for="sintoma8">Estornudos</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Dolor de garganta" id="sintoma9">
                            <label class="form-check-label" for="sintoma9">Dolor de garganta</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Flema" id="sintoma10">
                            <label class="form-check-label" for="sintoma10">Flema</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Dificultad para respirar"
                                id="sintoma11">
                            <label class="form-check-label" for="sintoma11">Dificultad para respirar</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Dolor en el pecho" id="sintoma12">
                            <label class="form-check-label" for="sintoma12">Dolor en el pecho</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Sed excesiva" id="sintoma13">
                            <label class="form-check-label" for="sintoma13">Sed excesiva</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox"
                                value="Aumento en la frecuencia de la micción" id="sintoma14">
                            <label class="form-check-label" for="sintoma14">Aumento en la frecuencia de la
                                micción</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Visión borrosa" id="sintoma15">
                            <label class="form-check-label" for="sintoma15">Visión borrosa</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Heridas que tardan en cicatrizar"
                                id="sintoma16">
                            <label class="form-check-label" for="sintoma16">Heridas que tardan en cicatrizar</label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Pérdida del olfato" id="sintoma17">
                            <label class="form-check-label" for="sintoma17">Pérdida del olfato</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Pérdida del gusto" id="sintoma18">
                            <label class="form-check-label" for="sintoma18">Pérdida del gusto</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Picazón en los ojos" id="sintoma19">
                            <label class="form-check-label" for="sintoma19">Picazón en los ojos</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Ojos llorosos" id="sintoma20">
                            <label class="form-check-label" for="sintoma20">Ojos llorosos</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Picor en la garganta" id="sintoma21">
                            <label class="form-check-label" for="sintoma21">Picor en la garganta</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Sensibilidad a la luz"
                                id="sintoma22">
                            <label class="form-check-label" for="sintoma22">Sensibilidad a la luz</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Náuseas" id="sintoma23">
                            <label class="form-check-label" for="sintoma23">Náuseas</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Vómitos" id="sintoma24">
                            <label class="form-check-label" for="sintoma24">Vómitos</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Aura visual" id="sintoma25">
                            <label class="form-check-label" for="sintoma25">Aura visual</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Erupción con picazón" id="sintoma26">
                            <label class="form-check-label" for="sintoma26">Erupción con picazón</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Cansancio" id="sintoma27">
                            <label class="form-check-label" for="sintoma27">Cansancio</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Pérdida de apetito" id="sintoma28">
                            <label class="form-check-label" for="sintoma28">Pérdida de apetito</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Diarrea" id="sintoma29">
                            <label class="form-check-label" for="sintoma29">Diarrea</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Dolor abdominal" id="sintoma30">
                            <label class="form-check-label" for="sintoma30">Dolor abdominal</label>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Obtener Diagnóstico</button>
        </form>
        <div id="resultado" class="mt-4 animate__animated animate__fadeIn" style="display: none;">
            <h4>Diagnóstico:</h4>
            <p id="diagnostico"></p>
            <h4>Tratamiento Sugerido:</h4>
            <p id="tratamiento"></p>
            <h4>¿Que es esta enfermedad?</h4>
            <p id="descripcion"></p>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#consultaForm').on('submit', function (event) {
                event.preventDefault();
                let sintomas = [];
                $('input[type="checkbox"]:checked').each(function () {
                    console.log($(this).val());
                    sintomas.push($(this).val());
                });
                let sintomasTexto = sintomas.join(', ');

                $.ajax({
                    url: '/diagnosticar',
                    type: 'POST',
                    data: { sintomas: sintomasTexto },
                    success: function (response) {
                        if (response.error) {
                            alert(response.error);
                        } else {
                            $('#diagnostico').text(response.diagnostico);
                            $('#tratamiento').text(response.tratamiento);
                            $('#descripcion').text(response.descripcion);
                            $('#resultado').show();
                        }
                    },
                    error: function () {
                        alert('Error al procesar la solicitud. Inténtelo de nuevo.');
                    }
                });
            });
        });
    </script>
</body>

</html>